@model IEnumerable<Planes.Models.Flight>

@{
    ViewBag.Tytul = "Lista przelotów";
}

<h2>Lista przelotów</h2>
@if (User.Identity.IsAuthenticated)
{
<p>
   <a class="btn btn-primary" href="/Flights/Create">Dodaj nowy przelot</a>
</p>
}

@Html.Partial("_PartialView", Model);
