@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Planes-Flights</h1>
  
</div>
<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <h2>Samoloty</h2>
        <p><a class="btn btn-group" href="/samoloty">Lista samolotów</a></p>
        @if (User.Identity.IsAuthenticated)
        {
           <p>
                <a class="btn btn-group" href="/samoloty/Create">Dodaj nowy samolot</a>
           </p>
        }
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2>Przeloty</h2>
            <p><a class="btn btn-group" href="/loty">Lista przelotów</a></p>

        @if (User.Identity.IsAuthenticated)
        {
            <p>
                <a class="btn btn-group" href="/loty/Create">Dodaj nowy przelot</a>
            </p>
        }
        </div>
       
    </div>
