@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Planes-Flights</h1>
  
</div>
<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <h2>Samoloty</h2>
        <p><a class="btn btn-group" href="/Planes">Lista samolotów</a></p>
        <p><a class="btn btn-group" href="/Planes/Create">Dodaj nowy samolot</a></p>

    </div>
</div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2>Przeloty</h2>
            <p><a class="btn btn-group" href="/Flights">Lista przelotów</a></p>
            <p><a class="btn btn-group" href="/Flights/Create">Dodaj nowy samloto</a></p>
        </div>
       
    </div>
