@model IEnumerable<Planes.Models.Plane>

@{
    ViewBag.Tytul = "Lista samolotów";
}

<h2>Lista samolotów</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-primary" href="/Planes/Create">Dodaj nowy przelot</a>
      
    </p>
}
@using (Html.BeginForm("Index", "Planes", FormMethod.Get))
{
<p>
    Nazwa: @Html.TextBox("searchName") <br/>
    <input type="submit" value="Szukaj" />
</p>
    @Html.Partial("_PartialView", Model);
} 
   